<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hx.ian.springboot.multidb.dao.dbone.ConfigProvinceCityDOMapper" >
  <resultMap id="BaseResultMap" type="org.hx.ian.springboot.multidb.domain.model.ConfigProvinceCityDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, province_name, province_code, city_name, city_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from config_province_city
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from config_province_city
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.hx.ian.springboot.multidb.domain.model.ConfigProvinceCityDO" >
    insert into config_province_city (id, province_name, province_code, 
      city_name, city_code)
    values (#{id,jdbcType=BIGINT}, #{provinceName,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, 
      #{cityName,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.hx.ian.springboot.multidb.domain.model.ConfigProvinceCityDO" >
    insert into config_province_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="provinceCode != null" >
        province_code,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.hx.ian.springboot.multidb.domain.model.ConfigProvinceCityDO" >
    update config_province_city
    <set >
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.hx.ian.springboot.multidb.domain.model.ConfigProvinceCityDO" >
    update config_province_city
    set province_name = #{provinceName,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>